<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--Spring相关配置-->
    <!--自动扫描包-->
    <context:component-scan base-package="com.bin.temperature">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    <!--加载外部属性-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--数据源-->
    <bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="dataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <!--事物管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" value="#{dataSource}"/>
    </bean>
    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED" read-only="false" isolation="DEFAULT" timeout="3"
                       rollback-for="java.lang.Exception"/>
            <tx:method name="query" read-only="true"/>
            <tx:method name="find" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <!--配置事务的属性和切点表达式-->
    <aop:config>
        <aop:pointcut id="txPointCut" expression="execution(* com.bin.temperature.service.impl.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
    </aop:config>

    <!--整合Mybatis-->
    <!--将SqlSessionFactory交给IOC容器-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
        <property name="dataSource" value="#{dataSource}"/>
        <!--配置Mybatis核心配置文件路径-->
        <property name="configLocation" value="classpath:mybatis/mybatis.xml"></property>
        <!--Mapper文件的路径-->
        <property name="mapperLocations" value="classpath:com/bin/temperature/mapper/*.xml"></property>
    </bean>
    <!-- 将Mapper接口的代理对象交给IOC容器管理，配置Mapper接口扫描的包 -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.bin.temperature.mapper"></property>
    </bean>
</beans>